/*Color de fondo de la página*/
body {
    background-color: rgb(204, 197, 197);
}


/*Diseño de secciones*/
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
}

/*Estilo de la tabla*/
table td {
    background-color:cadetblue ;
}


/*Estilo pie de la página*/
.pie {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

footer {
    background-color: indianred;
}